DATABASE_ENGINE=postgresql
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=localhost
DATABASE_PORT=5432
HOST=smtp.mailtrap.io
HOST_USER=
HOST_PASSWORD=
PORT=2525
DEBUG=True
SECRET=django-insecure-*6a(y4z02c+z9^hb)itp*l^@me25z-7(&ipkb5&n72c%o$6h3n