{% extends 'base/base.html' %}{% load static %} {% block content %}
<main id="comic-form">
  {% load crispy_forms_tags %}
  <div class="container">
    <a class="btn btn-sm btn-primary" href="{% url 'Comics:comics' %}"
      >&laquo Back to Home</a
    >
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %} {{form.media}} {{form|crispy}}
      <input class="btn btn-primary" type="submit" value="Submit Comic" />
    </form>
  </div>
</main>
{% include 'base/footer.html' %} {% endblock content %}
