{% extends 'base/base.html' %} {% load static %}{% block content %}
<main id="comic">
  {% load crispy_forms_tags %}
  <div class="comic-info">
    <div>
      <img class="comic-image" src="{{post.image.url}}" alt="{{post.title}}" />
    </div>

    <div class="bio">

      <div>
        <b class="textsecondary">Title:</b>
          <h2>{{post.title}}</h2>
      </div>
      <ul>
        <li>
          <b class="textsecondary">Alternativetitle:</b>
            <span>{{post.alternativetitle}}</span></li>
        </ul>
        <li>
          <b class="textsecondary">Description:</b>
            <span>{{post.description}}</span></li>
        </li>
        <li>
          <b class="textsecondary">Author:</b>
            <span>{{post.author}}</span></li>
        </li>
        <li>
          <b class="textsecondary">Artist:</b>
            <span>{{post.artist}}</span></li>
        </li>
        <li>
          <b class="textsecondary">Status:</b>
            <span>{{post.status}}</span></li>
        </li>
        <li>
          <b class="textsecondary">Rating:</b>
            <span>{{post.rating}}</span></li>
        </li>
        <li>
          <b class="textsecondary">Created_by:</b>
            <span>{{post.created_by}}</span></li>
        </li>
      </ul>
    </div>
     
    <div>
      <ul>
        {% for chapter in chapters %}
        <li class="job">
          <a href="{{chapter.get_absolute_url}}">{{chapter.name}}</a>
        </li>
        {% empty %}
        <small>No Chapters</small>
        {% endfor %}
      </ul>
    </div>
  </div>
</main>
{% include 'base/footer.html' %} {% endblock content %}
