[Unit]
Description=webtoons daemon
Requires=webtoons.socket
After=network.target

[Service]
ExecStart=/home/bot/Desktop/dev/projects/rhixescans.tk/env/bin/gunicorn \
    --access-logfile - \
    --workers 1 \
    --bind unix:/run/webtoons.sock \
    rhixescans.wsgi:application

WorkingDirectory=/home/bot/Desktop/dev/projects/rhixescans.tk

User=bot
Group=www-data

Restart=always


    
[Install]
WantedBy=multi-user.target
